<div id="menuModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Pizza Builder</h3>
                <button
                    type="button"
                    class="btn-close"
                    data-mdb-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body col">
                <div class="row mb-3">
                    <div class="col">
                        <img id="preview_pizza" class="squareImg" style="height: 12rem;">
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">My Pizza</h5>
                                <div class="row" style="margin-left: 0">
                                    Quantity
                                    <div class="col-3">
                                        <input class="form-control form-control-sm mb-2" type="text" value="1">
                                    </div>
                                </div>
                                <button id="add_to_cart" class="btn btn-secondary btn-block" type="submit">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h5>Toppings</h5>
                    <div class="col">
                        {% assign size = site.data.toppings.size %}
                        {% assign breakcol = size | divided_by: 3.0 | ceil %}

                        {% for i in (1..size) %}
                            {% assign j = i | minus: 1 %}
                            {% assign item = site.data.toppings[j] %}
                            {% assign id = "topping_" | append: item.name | downcase %}
                            {% include checkbox.html id=id label=item.name %}

                            {% assign row = i | modulo: breakcol %}
                            {% if row == 0 %}
                                </div><div class="col">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!-- Tabs navs -->
                {%- comment -%} <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a
                            class="nav-link active"
                            id="ex1-tab-1"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-1"
                            role="tab"
                            aria-controls="ex1-tabs-1"
                            aria-selected="true"
                            >Tab 1</a
                        >
                    </li>
                    <li class="nav-item" role="presentation">
                        <a
                            class="nav-link"
                            id="ex1-tab-2"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-2"
                            role="tab"
                            aria-controls="ex1-tabs-2"
                            aria-selected="false"
                            >Tab 2</a
                        >
                    </li>
                    <li class="nav-item" role="presentation">
                        <a
                            class="nav-link"
                            id="ex1-tab-3"
                            data-mdb-toggle="tab"
                            href="#ex1-tabs-3"
                            role="tab"
                            aria-controls="ex1-tabs-3"
                            aria-selected="false"
                            >Tab 3</a
                        >
                    </li>
                </ul>
                <!-- Tabs navs -->

                <!-- Tabs content -->
                <div class="tab-content" id="ex1-content">
                    <div
                        class="tab-pane fade show active"
                        id="ex1-tabs-1"
                        role="tabpanel"
                        aria-labelledby="ex1-tab-1"
                    >
                        Tab 1 content
                    </div>
                    <div
                        class="tab-pane fade"
                        id="ex1-tabs-2"
                        role="tabpanel"
                        aria-labelledby="ex1-tab-2"
                    >
                        Tab 2 content
                    </div>
                    <div
                        class="tab-pane fade"
                        id="ex1-tabs-3"
                        role="tabpanel"
                        aria-labelledby="ex1-tab-3"
                    >
                        Tab 3 content
                    </div>
                </div> {%- endcomment -%}
                <!-- Tabs content -->
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector('#add_to_cart').addEventListener('click', e => {
        e.preventDefault();
        localStorage.setItem('loginToken', '123');
        window.location.href = '/cart';
    });
</script>

