<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
  <!-- Container wrapper -->
  <div class="container-fluid">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">{{ site.title }}</a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

      <!-- Icons -->
      <ul class="navbar-nav d-flex flex-row me-1">
        <li id="login" class="nav-item me-3 me-lg-0" style="display: none">
          <a class="nav-link" href="/login"><i class="fas fa-user-alt"></i></a>
        </li>
        <li id="history" class="nav-item me-3 me-lg-0" style="display: none">
          <a class="nav-link" href="/history"><i class="fas fa-list-ol"></i></a>
        </li>
        <li id="logout" class="nav-item me-3 me-lg-0" style="display: none">
          <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="/cart"><i class="fas fa-shopping-cart"></i></a>
        </li>
      </ul>

    </div>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<script>
  let token = localStorage.getItem('loginToken'), btn;
  btn = token ? $('#logout, #history') : $('#login');
  btn.css('display', 'block')
</script>